target
.project
.classpath
.settings
.idea
*.iml
Thumbs.db
obj/
local.properties
.classpath
.project
.settings/
.idea/
bin/
gen/
target/
Thumbs.db
production/
lib/
out/
.bak
gen-external-apklibs
gen/
.DS_Store
*.apk
/libs/armeabi-v7a/libhash9.so
/libs/armeabi/libhash9.so
/libs/mips/libhash9.so
/libs/x86/libhash9.so
/tools/checkpoints
